extends layout


block content

  h1 #{thisPeer.id}
  .peerInformation(id="pred")
    .id #{pred.id}
    .ip #{pred.ip}
    .port #{pred.port}
    .link 
      a(href="http://#{pred.ip}:#{pred.port}") Click here

  .peerInformation(id="succ")
    .id #{succ.id}
    .ip #{succ.ip}
    .port #{succ.port}
    .link 
      a(href="http://#{succ.ip}:#{succ.port}") Click here

  .joinForm
    form(id="join")
      .ipInput
        p Ip:
        input(type="text", name="ip", value="localhost")
      .portInput
        p Port:
        input(type="text", name="port", value="4000")
      .action
        input(type="submit", value="Join Peer")

  .stabilize
      input(type="submit" value="stabilize" id="stabilize")

  .findID
    form(id="findID")
      .inputId
        p Search for id:
        input(name="id")
      .action
        input(type="submit", value="SEARCH")
    .findIDResult

  .leave
    input(type="submit" value="leave ring" id="leave")

  .fingerTable
    table
      tr
        td ID
        td IP
        td PORT
        td HASH
      for entry in fingerTable
        tr
          td #{entry.id}
          td #{entry.ip}
          td #{entry.port}
          td #{entry.hash}


