extends layout

block content
  h1= title
  p Predecessor id: #{predecessor.id}. Link: 
    a(href="http://#{predecessor.ip}:#{predecessor.port}") #{predecessor.ip}:#{predecessor.port}
  p Successor id: #{successor.id}. Link: 
    a(href="http://#{successor.ip}:#{successor.port}") #{successor.ip}:#{successor.port}
  form(action="", method="POST")
    div.input
        p id:
        input(type="text", name="id", value="2000")
    div.input
        p ip:
        input(type="text", name="ip", value="localhost")
    div.input
        p port:
        input(type="text", name="port", value="2000")
    div.actions
        input(type="submit", value="join peer")
  form(action="stabilize", method="POST")
    div.input
        input(type="submit", value="STABILIZE")
  form(action="findID", method="POST")
    div.input
        p search for id:
        input(type="text", name="id")
    div.input
        input(type="submit", value="SEARCH")
  div.leave
    a(href="leave") Leave Chord Ring
  div.searchResult
    a(href="http://#{searchResult.ip}:#{searchResult.port}") #{searchResult.id}
